.post-container {
    background-color: #193540;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-left: 80px;
    width: 620px;
}

.posts{
    margin-top: 10px;
    max-height: 870px;
    overflow: scroll;
    align-self: end;
}

.posts::-webkit-scrollbar {
    display: none;
}

.add-post{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 500px;
    height: 87px;
    background-color: #d2d6d1;
    border-radius: 4px;
    padding: 0%;     
}

.add-post-inner{
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: end;
    height: 87px;
    padding: 0%;
}

.add-post-outer{
    align-self: end;
}

.video,
.image,
.text {
    height: 50px;
    width: 50px;
    margin: 5%;
    font-size: 50px;
    border: none;
    background-color: #d2d6d1;
    
}

button:hover{
    transform: scale(1.2);
}

.image{
    color: crimson;
}

.video{
    color:#193540;
}

.post-buttons{
    border: none;
    display: flex;
    flex-direction: row;
    background-color: #d2d6d1;
    justify-content:space-evenly;
  
}

.main-container {
   display: flex;
   flex-direction: row;
   background-color: #193540;
   justify-content: center;
   height: 100vh;
}

.users-container{
    width: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.check-out{
    font-size: 30px;
    color: white;
    font-family: 'Akaya Telivigala',
    cursive;
    margin-top: 100px;
}
.blog-span{
    width: 100%;
}

.user-cards{
    display: flex;
    justify-content: end;
    width: 300px;
    flex-direction: column;
}