.user-page {
 background-color: #A0220B;
 height: fit-content;
 width: 100vw;
}

.user-avatar2 {
 height: 300px;
 width: 300px;
 margin-top: 145px;
 border-radius: 4px;
}

.user-info-div{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-username{
  font-size: 65px;
  margin-top: 20px;
}

.user-posts{
  margin-top: 20px;
  margin-bottom: 20px;
  max-height: 870px;
  overflow-y: scroll;
}

.user-posts::-webkit-scrollbar{
  display: none
}

