.user-card{
  height: 50px;
  width: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  margin-top: 10px;
}

.user-card:hover{
  background-color: rgb(0, 0, 0, 0.20);
  height: 60px;
  
}

.blog-img {
  height: 40px;
  width: 40px;
  border-radius: 4px;
}

.user-info{
  display: flex;
  flex-direction: column;
  color: white;
  margin-left: 10px;
}

.follow{
  color: rgb(70, 70, 245);
  cursor: pointer;
}


.user-page-link{
  color: white;
}

.other-div{
  display: flex;
}