html,
body {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
}

.nav {
    display: flex;
    align-items: center;
    height: 54px;
    width: 100%;
    margin: auto;
    margin-right: 3px;
    padding-left: 22px;
    padding-right: 20px;
    box-sizing: border-box;
    flex-direction: row-reverse;
    background-color: rgb(255, 255, 255 0.7);
    position: fixed;
    
}
.sessionLinks{
    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;
    width: 100%;
    height: 54px;
    margin-top: 10px;
}

.sub {
    background-color: #5e7783;
    margin: 10px;
    height: 40px;
    width: 97px;
    cursor: default;
    border-radius: 4px;
}

.lib {
    background-color: #d2d6d1;
    margin: 10px;
    height: 40px;
    width: 97px;  
    border-radius: 4px;  
}
.home,
.user-icon{
 height: 54px;
 width: 120px;
 font-family: 'Akaya Telivigala',
 cursive;
 font-size: 30px;
 margin-left: 10px;
}

.home{
    text-decoration: none;
    color: black;
}

.profile-postion{
    position: relative;
}

.profile-dropdown{
    display: flex;
    flex-direction: column;
    margin-top: 75px;
    position: absolute;
    background-color:white;
    border-radius: 4px;
    z-index: 3;
    right: 10px;
}
